@{
    ViewData["Title"] = "Calc";
   Layout = "~/Views/Shared/_Calc.cshtml";
}

<div style="margin-top:50px; margin-bottom:50px;">
    <h1 style="margin:30px;" class="text-black">CALCULADORA DE IMPACTO AMBIENTAL</h1>
    <form class="form-group text-black">
        <div class="row col-12" style="justify-content:center; align-items:center; text-align:start;">
            <label for="emissaoCO2" class="col-5" style="margin-top:30px;">Emissão de CO2 (em toneladas):</label>
            <input type="number" id="emissaoCO2" name="emissaoCO2" style="background-color:#ebe7e0; opacity:50%; border-radius:10px;"><br><br>
            <label for="consumoAgua" class="col-5" style="margin-top:30px;">Consumo de Água (em metros cúbicos):</label>
            <input type="number" id="consumoAgua" name="consumoAgua" style="background-color:#ebe7e0; opacity:50%; border-radius:10px;"><br><br>
        </div>
        <div class="row col-12" style="justify-content:center; align-items:center; text-align:start;">
            <label for="geracaoLixo" class="col-5" style="margin-top:30px;">Geração de Lixo (em quilos):</label>
            <input type="number" id="geracaoLixo" name="geracaoLixo" style="background-color:#ebe7e0; opacity:50%; border-radius:10px;"><br><br>
            <label for="energiaRenovavel" class="col-5" style="margin-top:30px;">Energia Renovável (em %):</label>
            <input type="number" id="energiaRenovavel" name="energiaRenovavel" style="background-color:#ebe7e0; opacity:50%; border-radius:10px;"><br><br>
        </div>
        <div class="row col-12" style="justify-content:center; align-items:center; text-align:start;">
            <label for="eficienciaEnergia" class="col-5" style="margin-top:30px;">Eficiência Energética (em %):</label>
            <input type="number" id="eficienciaEnergia" name="eficienciaEnergia" style="background-color:#ebe7e0; opacity:50%; border-radius:10px;"><br><br>
            <label for="reducaoEmissao" class="col-5" style="margin-top:30px;">Redução de Emissão (em %):</label>
            <input type="number" id="reducaoEmissao" name="reducaoEmissao" style="background-color:#ebe7e0; opacity:50%; border-radius:10px;"><br><br>
        </div>
        <button type="button" onclick="calcularImpactoAmbientalAvancado()" style="background-color:#243757; border-radius:10px;">Calcular Impacto Ambiental</button>
    </form>

    <!-- Modal -->
    <div id="modal" style="display: none;">
        <span class="close" style="color: #2D6001; font-size: 30px; cursor: pointer;">&times;</span>
        <p id="resultado-modal">Resultado:<br><span id="resultado-number"></span></p>
    </div>
</div>
    <script src="~/js/calc.js"></script>
