@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex mt-5" style="justify-content:space-between; margin-bottom:50px">

    <div>
        <img src="~/img/logotipofv.png" class="align-content-center" width="350px" height="350px" />
    </div>

    <div class="text-center" style="align-items:center; justify-content:center; text-align:center">
        <p class="display-4" style="font-weight:bold; font-size: 45px; margin: 0 0 0 100px">SEJA BEM VINDO (A)!</p>

        <p style="margin:50px 0 0 100px; padding:10; font-size:30px">
            Neste site, você encontrará informações práticas sobre como reciclar corretamente,
            alguns desafios diários para reduzir o desperdício, além de um Marketplace de economia circular,
            onde existem produtos para doação, trocas, ou mesmo vendas, com valores acessíveis.
        </p>
    </div>

</div>

<div class="d-flex" style="align-items:center; text-align:center; justify-content:space-evenly; margin:20px;">
    <div class="card"
         style="box-shadow: 0 2px 2px 0 black; background-color:#D1DEC6; padding:10px; margin:10px; width:300px; height:500px; display:flex;
                flex-direction:column; align-items:center; justify-content:center; text-align:center; border-radius:15px">

        <img src="~/img/design sem nome.png" width="250px" height="250px" style="margin-bottom:15px" />
        <p style="margin:5px; font-size:25px">A reciclagem é mais do que uma prática, é um compromisso com o futuro do nosso planeta.</p>

    </div>

    <div class="card"
         style="box-shadow: 0 2px 2px 0 black; background-color:#D1DEC6; padding:10px; margin:10px; width:300px; height:500px; display:flex;
                flex-direction:column; align-items:center; justify-content:center; text-align:center; border-radius:15px">

        <img src="~/img/design sem nome (1).png" width="250px" height="250px" style="margin-bottom:30px" />
        <p style="margin:5px; font-size:25px">Aqui, acreditamos que pequenas atitudes geram grandes mudanças. </p>

    </div>

    <div class="card"
         style="box-shadow: 0 2px 2px 0 black; background-color:#D1DEC6; padding:10px; margin:10px; width:300px; height:500px; display:flex;
                flex-direction:column; align-items:center; justify-content:center; text-align:center; border-radius:15px">

        <img src="~/img/design sem nome 2.png" width="250px" height="250px" style="margin-bottom:15px" />
        <p style="margin:5px; font-size:25px"> Nosso objetivo é educar, inspirar e facilitar a adoção de hábitos sustentáveis em sua vida diária.</p>

    </div>

</div>


<div style="background-color:#D1DEC6; border-radius:15px; padding:20px; text-align:center; margin:20px;">
    <p style="font-size:25px"> Seja você um iniciante ou um defensor experiente da sustentabilidade, nosso conteúdo foi criado para ajudá-lo a dar o próximo passo rumo a um mundo mais verde. </p>
</div>
