@{
    ViewData["Title"] = "Reci";
}


<h1 style="text-align:center">DICAS DE RECICLAGEM</h1>

<br />
<br />

<div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active" style="transition: opacity 0.5s ease-in-out">
            <img class="d-block w-100" src="~/img/banner1.png" alt="Primeiro slide">
        </div>
        <div class="carousel-item" style="transition:opacity 0.5s ease-in-out">
            <img class="d-block w-100" src="~/img/plastico.png" alt="Segundo slide">
        </div>
        <div class="carousel-item" style="transition:opacity 0.5s ease-in-out">
            <img class="d-block w-100" src="~/img/papel.png" alt="Terceiro slide">
        </div>
        <div class="carousel-item" style="transition:opacity 0.5s ease-in-out">
            <img class="d-block w-100" src="~/img/metal.png" alt="Quarto slide">
        </div>
        <div class="carousel-item" style="transition:opacity 0.5s ease-in-out">
            <img class="d-block w-100" src="~/img/vidro.png" alt="Quinto slide">
        </div>
        <div class="carousel-item" style="transition:opacity 0.5s ease-in-out">
            <img class="d-block w-100" src="~/img/organico.png" alt="Sexto slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only"></span>
    </a>
</div>


<br />
<br />

<div class="text-center">
    <p style="font-size:25px">A reciclagem é fundamental para proteger o meio ambiente, conservar recursos naturais, reduzir a poluição, gerar empregos e promover a conscientização ambiental.</p>

    <p style="font-size:25px"> Ao adotar o reuso como parte de nossas rotinas, contribuímos para a construção de um futuro mais sustentável e equilibrado para todos.</p>

    <p style="font-size:25px; font-weight:500"> Aqui estão algumas dicas de reutilização para ajudar você a contribuir com a preservação do meio ambiente:</p>
</div>


<div class="container d-flex" style="justify-content:space-between">

    <div class="d-flex">
        <div class="card" style="box-shadow: 0 2px 2px 0 black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:5px 10px 5px 15px; font-size:30px">1</p>
                    </div>
                </div>

                <div class="col-6" style="margin:15px 0px 0px 65px">
                    <p style="font-size:28px; font-weight:bold">Separe os Resíduos</p>
                </div>

            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin:15px">
                    <p style="font-size:25px">
                        Mantenha recipientes diferentes para papel, plástico, vidro, metal e orgânicos.
                        A separação correta facilita o processo de reciclagem.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="card" style="box-shadow: 0 2px 2px 0  black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:5px 10px 5px 15px; font-size:30px">2</p>
                    </div>
                </div>

                <div class="col-6" style="margin:15px 0px 0px 65px">
                    <p style="font-size:28px; font-weight:bold">Limpe os Materiais</p>
                </div>

            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin:15px">
                    <p style="font-size:25px">
                        Enxágue embalagens antes de colocá-las na reciclagem.
                        Resíduos orgânicos podem contaminar os materiais recicláveis.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container d-flex" style="justify-content:space-between">

    <div class="d-flex">
        <div class="card" style="box-shadow: 0 2px 2px 0 black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:5px 10px 5px 15px; font-size:30px">3</p>
                    </div>
                </div>

                <div class="col-7" style="margin:15px 0px 0px 50px">
                    <p style="font-size:28px; font-weight:bold">Recicle os eletrônicos</p>
                </div>

            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin:15px">
                    <p style="font-size:25px">
                        Leve os eletrônicos a pontos de coleta específicos para garantir o descarte adequado e a reciclagem de componentes perigosos.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex">
        <div class="card" style="box-shadow:0 2px 2px 0 black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:5px 10px 5px 15px; font-size:30px">4</p>
                    </div>
                </div>

                <div class="col-7" style="margin:5px 0px 0px 50px; text-align:center">
                    <p style="font-size:25px; font-weight:bold">Reutilize sempre que possível</p>
                </div>
            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin:0px 15px 15px 15px">
                    <p style="font-size:25px">
                        Antes de reciclar, pense em como você pode reutilizar itens. Potes de vidro, caixas de papelão
                        e garrafas plásticas podem ter muitas utilidades.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="container d-flex" style="justify-content:space-between">


    <div class="d-flex">
        <div class="card" style="box-shadow: 0 2px 2px 0  black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:5px 10px 5px 15px; font-size:30px">5</p>
                    </div>
                </div>

                <div class="col-7" style="margin:5px 0px 0px 50px; text-align:center">
                    <p style="font-size:25px; font-weight:bold">Composte resíduos orgânicos</p>
                </div>
            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin:0px 15px 15px 15px">
                    <p style="font-size:25px">
                        Transforme o lixo orgânico em adubo natural.
                        Compostar reduz a quantidade de lixo enviada aos aterros e melhora a qualidade do solo.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex">
        <div class="card" style="box-shadow: 0 2px 2px 0 black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:5px 10px 5px 15px; font-size:30px">6</p>
                    </div>
                </div>

                <div class="col-7" style="margin:17px 0px 0px 50px">
                    <p style="font-size:26px; font-weight:bold">Participação comunitária</p>
                </div>

            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin:10px 15px 15px 15px">
                    <p style="font-size:25px">
                        Participe de programas de reciclagem comunitários e incentive amigos e familiares a fazer o mesmo.
                        O trabalho em equipe garante o sucesso.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container d-flex" style="justify-content:space-between">


    <div class="d-flex">
        <div class="card" style="box-shadow: 0 2px 2px 0  black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:5px 10px 5px 15px; font-size:30px">7</p>
                    </div>
                </div>

                <div class="col-8" style="margin:15px 0px 0px 35px; text-align:center">
                    <p style="font-size:26px; font-weight:bold">Evite plásticos de uso único</p>
                </div>
            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin: 15px">
                    <p style="font-size:25px">
                        Reduza o consumo de plásticos descartáveis, como sacolas, canudos e talheres. Opte por alternativas reutilizáveis.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex">
        <div class="card" style="box-shadow: 0 2px 2px 0  black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:5px 10px 5px 15px; font-size:30px">8</p>
                    </div>
                </div>

                <div class="col-7" style="margin:17px 0px 0px 50px">
                    <p style="font-size:26px; font-weight:bold">Verifique as regras locais</p>
                </div>

            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin:10px 15px 15px 15px">
                    <p style="font-size:25px">
                        Cada cidade pode ter suas próprias regras de reciclagem.
                        Informe-se sobre o que pode ou não ser reciclado na sua área para evitar erros.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container d-flex" style="justify-content:space-between">


    <div class="d-flex">
        <div class="card" style="box-shadow: 0 2px 2px 0  black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:5px 10px 5px 15px; font-size:30px">9</p>
                    </div>
                </div>

                <div class="col-8" style="margin:15px 0px 0px 35px; text-align:center">
                    <p style="font-size:28px; font-weight:bold">Doe roupas e objetos</p>
                </div>
            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin: 15px">
                    <p style="font-size:25px">
                        Em vez de descartar roupas, móveis ou eletrodomésticos, doe-os para quem precisa.
                        Nosso site possui uma página de trocas e doações.
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="d-flex">
        <div class="card" style="box-shadow: 0 2px 2px 0  black; background-color:#D1DEC6; margin:20px; width:550px; height:260px; display:flex;
                flex-direction:column; border-radius:15px">
            <div class="row">

                <div class="col-2">
                    <div class="card-header-pills" style="width:65px ;background-color:#2D6001; color:white; border-radius:15px 0px 15px 0px;  padding:10px; margin:0px; justify-content:start;">
                        <p style="margin:10px 5px 10px 5px; font-size:25px">10</p>
                    </div>
                </div>

                <div class="col-8" style="margin:17px 0px 0px 30px">
                    <p style="font-size:26px; font-weight:bold">Compartilhe o conhecimento</p>
                </div>

            </div>
            <div class="row" style="align-items:center; text-align:center;">
                <div class="col" style="margin:15px">
                    <p style="font-size:25px">
                        Informe-se sobre o impacto dos resíduos no meio ambiente e compartilhe seu aprendizado com os outros.
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

<br />
<br />
<br />
<br />

<div style="align-items:center; text-align:center; justify-content:center">
    <img style="width:900px; height:456px" src="~/img/latasRec.png" />
</div>