@{
    ViewData["Title"] = "Reci";
}


<h1 style="text-align:center ; margin:35px;">DICAS DE RECICLAGEM</h1>


<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <ol class="carousel-indicators">
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"></li>
        <li data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="~/img/banner1.png" alt="Primeiro slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/plastico.png" alt="Segundo slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/papel.png" alt="Terceiro slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/metal.png" alt="Quarto slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/vidro.png" alt="Quinto slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="~/img/organico.png" alt="Sexto slide">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Próximo</span>
    </a>
</div>
<!-- Scripts do Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<div class="text-center" style="max-width: 1200px; margin: 30px;">
    <p style="font-size: 20px; line-height: 1.5;">
        A reciclagem é fundamental para proteger o meio ambiente, conservar recursos naturais, reduzir a poluição, gerar empregos e promover a conscientização ambiental.
    </p>

    <p style="font-size: 20px; line-height: 1.5;">
        Ao adotar o reuso como parte de nossas rotinas, contribuímos para a construção de um futuro mais sustentável e equilibrado para todos.
    </p>

    <p style="font-size: 24px; font-weight: 500; line-height: 1.5;">
        Aqui estão algumas dicas de reutilização para ajudar você a contribuir com a preservação do meio ambiente:
    </p>
</div>

<div class="container">
    <div class="row justify-content-center">

        <!-- Cartão 1 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">1. Separe os Resíduos</h5>
                </div>
                <div class="card-body">
                    <p>Mantenha recipientes diferentes para papel, plástico, vidro, metal e orgânicos. A separação correta facilita o processo de reciclagem.</p>
                </div>
            </div>
        </div>

        <!-- Cartão 2 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">2. Limpe os Materiais</h5>
                </div>
                <div class="card-body">
                    <p>Enxágue embalagens antes de colocá-las na reciclagem. Resíduos orgânicos podem contaminar os materiais recicláveis.</p>
                </div>
            </div>
        </div>

        <!-- Cartão 3 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">3. Recicle os eletrônicos</h5>
                </div>
                <div class="card-body">
                    <p>Leve os eletrônicos a pontos de coleta específicos para garantir o descarte adequado e a reciclagem de componentes perigosos.</p>
                </div>
            </div>
        </div>

        <!-- Cartão 4 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">4. Reutilize sempre que possível</h5>
                </div>
                <div class="card-body">
                    <p>Pense em como você pode reutilizar itens. Potes de vidro, caixas de papelão e garrafas plásticas podem ter muitas utilidades.</p>
                </div>
            </div>
        </div>

        <!-- Cartão 5 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">5. Composte resíduos orgânicos</h5>
                </div>
                <div class="card-body">
                    <p>Transforme o lixo orgânico em adubo natural. Compostar reduz a quantidade de lixo enviada aos aterros e melhora a qualidade do solo.</p>
                </div>
            </div>
        </div>

        <!-- Cartão 6 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">6. Participação comunitária</h5>
                </div>
                <div class="card-body">
                    <p>Participe de programas de reciclagem comunitários e incentive amigos e familiares a fazer o mesmo. O trabalho em equipe garante o sucesso.</p>
                </div>
            </div>
        </div>

        <!-- Cartão 7 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">7. Evite plásticos de uso único</h5>
                </div>
                <div class="card-body">
                    <p>Reduza o consumo de plásticos descartáveis, como sacolas, canudos e talheres. Opte por alternativas reutilizáveis.</p>
                </div>
            </div>
        </div>

        <!-- Cartão 8 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">8. Verifique as regras locais</h5>
                </div>
                <div class="card-body">
                    <p>Cada cidade pode ter suas próprias regras de reciclagem. Informe-se sobre o que pode ou não ser reciclado na sua área para evitar erros.</p>
                </div>
            </div>
        </div>

        <!-- Cartão 9 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">9. Doe roupas e objetos</h5>
                </div>
                <div class="card-body">
                    <p>Em vez de descartar roupas, móveis ou eletrodomésticos, doe-os para quem precisa. Nosso site possui uma página de trocas e doações.</p>
                </div>
            </div>
        </div>

        <!-- Cartão 10 -->
        <div class="col-10 col-sm-6 col-md-5 mb-4">
            <div class="card shadow-sm" style="background-color: #D1DEC6; border-radius: 15px; transition: transform 0.3s; height: 190px;">
                <div class="card-header text-white" style="background-color: #2D6001; border-radius: 15px 15px 0 0;">
                    <h5 class="mb-0">10. Compartilhe o conhecimento</h5>
                </div>
                <div class="card-body">
                    <p>Informe-se sobre o impacto dos resíduos no meio ambiente e compartilhe seu aprendizado com os outros.</p>
                </div>
            </div>
        </div>

    </div>
</div>



<!-- Estilos adicionais para melhorar a responsividade e a interação -->
<style>
    .card:hover {
        transform: scale(1.05);
    }

</style>


<br />



<div style="display: flex; align-items: center; justify-content: center;">
    <img style="width: 100%; height: auto; max-width: 900px;" src="~/img/latasRec.jpg" alt="Descrição da imagem" />
</div>
