@{
    ViewData["Title"] = "LojaSust";
    Layout = "~/Views/Shared/_LojaSust.cshtml";
}

<div class="text-center m-4">
    <h2>COMO RECONHECER UMA LOJA SUSTENTÁVEL?</h2>
</div>

<div class="p-3 text-center" style="background-color:#D1DEC6; border-radius:20px;">
    <p style="font-size:larger;">
        Escolher onde comprar é um ato de consumo consciente que pode ajudar a promover práticas mais responsáveis e amigas do meio ambiente.
        Aqui estão algumas dicas para reconhecer uma loja sustentável:
    </p>
</div>

<div class="text-center my-5 img-container">
    <img src="~/img/loja sust.png" class="img-fluid rounded mx-auto d-block" alt="Loja Sustentável" />
</div>

<h2 class="text-center titulo-lojas-sustentaveis">COMO IDENTIFICAR E VERIFICAR LOJAS SUSTENTÁVEIS:</h2>

<div class="row text-center">
    <div class="col-12 col-md-4 mb-4">
        <img src="~/img/um.png" class="img-fluid card-img" style="border-radius:25px;" />
    </div>
    <div class="col-12 col-md-4 mb-4">
        <img src="~/img/dois.png" class="img-fluid card-img" style="border-radius:25px;" />
    </div>
    <div class="col-12 col-md-4 mb-4">
        <img src="~/img/tres.png" class="img-fluid card-img" style="border-radius:25px;" />
    </div>
</div>


<div class="text-center my-4">
    <video class="video-custom" controls>
        <source src="~/img/Loja Susten.mp4" type="video/mp4">
    </video>
</div>


<div id="mapa" class="text-center my-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1884055.373820121!2d-47.68622386659137!3d-22.73583551253984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1slojas%20sustentaveis!5e0!3m2!1spt-BR!2sbr!4v1728583625927!5m2!1spt-BR!2sbr"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>
 <!--ARRUMAR O MAPA NO CENTRO-->



