@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "~/Views/Shared/_PessoaSust.cshtml";

}


<div class="image-container">
    <img src="~/img/PilaresPs.png" class="img-responsive" alt="Descrição da imagem">
</div>


<div class="container-cards">
    <!-- Card 1: Título e texto -->
    <div class="card">
        <h5 style="color:#4CAF50;">CONSCIÊNCIA AMBIENTAL</h5>
        <p>
            A Consciência Ambiental é essencial para proteger o meio ambiente e garantir um futuro sustentável.
            Isso envolve compreender o impacto das nossas ações, reduzir o consumo de recursos, reutilizar e reciclar materiais,
            optar por produtos ecológicos e educar os outros sobre a importância da preservação. Adotar essa mentalidade ajuda a conservar recursos naturais,
            melhorar a saúde pública e promover a sustentabilidade econômica, onde cada pequena ação contribui para um futuro mais verde.
        </p>
    </div>

    <!-- Card 2: Somente imagem -->
    <div class="card">
        <img src="~/img/FotoPilar.png" class="img-fluid" alt="Imagem de Pilar" style="max-height:400px;">
    </div>

    <!-- Card 3: Textos -->
    <div class="card">
        <h5 style="color:#4CAF50;">ESTILO DE VIDA SUSTENTÁVEL</h5>
        <p>
            Adotar um estilo de vida sustentável envolve tomar decisões conscientes para reduzir o impacto ambiental.
            Isso inclui escolher produtos duráveis e recicláveis, economizar energia e água, usar transporte ecológico, consumir alimentos locais e vegetais,
            e reduzir resíduos por meio de compostagem e reciclagem. Cada ação contribui para a preservação do meio ambiente e o bem-estar das futuras gerações.
        </p>
    </div>
</div>


<h4 class="text-center m-5">HÁBITOS DIÁRIOS</h4>

<div class="faq-container">
    <div class="faq-section">
        <div class="faq">
            <h4 class="faq-question">CONSUMO CONSCIENTE</h4>
            <p class="faq-answer">Comprar apenas o necessário e optar por produtos duráveis e recicláveis. O consumo consciente promove uma utilização responsável dos recursos, incentivando escolhas que beneficiem tanto o meio ambiente quanto a economia local. Ao adotar essa prática, você pode reduzir o desperdício e fazer uma diferença positiva na sociedade.</p>
        </div>
        <div class="faq">
            <h4 class="faq-question">REDUÇÃO DE RESÍDUOS</h4>
            <p class="faq-answer">Preferir caminhar, andar de bicicleta, usar transporte público ou escolher veículos elétricos. Além disso, considere a utilização de embalagens reutilizáveis, como garrafas e sacolas, e participe de programas de reciclagem em sua comunidade. Ao minimizar a produção de resíduos, contribuímos para a preservação do planeta e para a saúde pública.</p>
        </div>
        <div class="faq">
            <h4 class="faq-question">EFICIÊNCIA ENERGÉTICA E ECONOMIA DE ÁGUA</h4>
            <p class="faq-answer">Usar lâmpadas LED, desligar aparelhos quando não estiverem em uso e adotar práticas para economizar água, como tomar banhos mais curtos e consertar vazamentos. A eficiência energética não só reduz a conta de luz, mas também contribui para a diminuição das emissões de carbono, ajudando na luta contra as mudanças climáticas.</p>
        </div>
        <div class="faq">
            <h4 class="faq-question">ALIMENTAÇÃO SUSTENTÁVEL</h4>
            <p class="faq-answer">Preferir alimentos locais e sazonais, reduzindo o consumo de produtos de origem animal e evitando o desperdício de alimentos. Essa abordagem não só apoia os agricultores locais, mas também diminui a pegada de carbono associada ao transporte de alimentos. Ao consumir de forma sustentável, você também pode melhorar sua saúde e bem-estar.</p>
        </div>
        <div class="faq">
            <h4 class="faq-question">TRANSPORTE SUSTENTÁVEL</h4>
            <p class="faq-answer">Preferir caminhar, andar de bicicleta, usar transporte público ou escolher veículos elétricos é essencial para reduzir a poluição do ar e o congestionamento nas cidades. Além de melhorar a qualidade do ar, o transporte sustentável promove um estilo de vida ativo e pode levar a economias significativas em custos de transporte.</p>
        </div>
    </div>
</div>




<div class="col col-12 p-3 text-center" style="align-items:center; justify-content:center;  margin-top:30px; margin-bottom:40px;background-color:#D1DEC6;; border-radius:20px;">
    <h6>Você se considera uma pessoa sustentável? Quais mudanças você pode fazer em sua vida diária para contribuir para um futuro mais sustentável? Compartilhe suas ideias e experiências conosco!</h6>
</div>

<script src="~/js/faqQuestions.js"></script>

